.homescreen {
    max-width: 1300px;
    margin: 1rem auto;
  }
  
  .homescreen__title {
    font-size: 1.5rem;
    color: #171717;
    margin-bottom: 1rem;
    margin-left: 8px;
  }
  
  .homescreen__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  @media (max-width: 1232px) {
    .homescreen__products {
      grid-template-columns: repeat(3, auto);
    }
  }
  
  @media (max-width: 950px) {
    .homescreen__products {
      grid-template-columns: repeat(2, auto);
    }
  }
  
  @media (max-width: 630px) {
    .homescreen__products {
      grid-template-columns: 1fr;
    }
  }

  .user {
    font-size: 12px;
   
    background-color: #4c7b97;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 240px;
    height: 300px;
    margin: 20px;
  }
  
  .paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    position:fixed;
    bottom:0.05px;
  }

  
.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #000000;
  color: #000000;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #4871c9;
}

.paginationActive a {
  color: white;
  background-color: #24448b;
}

.paginationDisabled a {
  color: rgb(253, 247, 247);
  background-color: rgb(92, 88, 88);
}